body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 1200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.grid-element {
    background-color: pink;
    opacity: 1;
    border-radius: 10000px;
}

.row,
.grid-element {
    flex: 1;

    /* add transitions for smooth change of the grid */
    /* play around with transition time */
    -webkit-transition: flex 2s ease-out;
    -moz-transition: flex 2s ease-out;
    -ms-transition: flex 2s ease-out;
    -o-transition: flex 2s ease-out;
    transition: flex 2s ease-out;
}

.row:hover {
    flex: 6;
    opacity: 0.8;
}
.grid-element:hover {
    flex: 6;
    opacity: 0.3;
}